extends layout

block content
  h1= title
  p Bienvenidos a Venezuela

  ul
    li 
      a(href='/estados') Estados
    li
      a(href='/ciudades') Ciudades
    li
      a(href='municipios') Municipios
    li
      a(href='/parroquias') Parroquias
