doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

    //- scripts
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.js')
    script(type='text/javascript' src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(type='text/javascript' src='../js/app.js')
  body
    block content

